.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: azure;
}

.profile {
  width: 250px;
  height: 325px;
  border-radius: 8px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  text-align: center;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}
.tag {
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}
.location {
  margin-top: 8px;
  font-size: 14px;
}
.stats {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

.stats li {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: grey;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 60px;
}

.quantity {
  font-weight: 700;
  font-size: 14px;
}

.label {
  font-size: 14px;
  font-weight: bold;
}
