.friend-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: azure;
}

.item {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 4px;
  background-color: blanchedalmond;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.name {
  font-weight: bold;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
